*.[1,3]
*.[oa]
*.[sl]o
*.bundle
*.l[ao]
.deps
.dirstamp
.libs
ext/Makefile
ext/bin
ext/include
ext/lib
ext/libmemcached-*/**/Makefile
ext/libmemcached-*/Makefile
ext/libmemcached-*/autom4te.cache/
ext/libmemcached-*/clients/memcapable
ext/libmemcached-*/clients/memcat
ext/libmemcached-*/clients/memcp
ext/libmemcached-*/clients/memdump
ext/libmemcached-*/clients/memerror
ext/libmemcached-*/clients/memflush
ext/libmemcached-*/clients/memparse
ext/libmemcached-*/clients/memrm
ext/libmemcached-*/clients/memslap
ext/libmemcached-*/clients/memstat
ext/libmemcached-*/config.h
ext/libmemcached-*/config.log
ext/libmemcached-*/config.status
ext/libmemcached-*/config/pandora_vc_revinfo
ext/libmemcached-*/config/top.h
ext/libmemcached-*/docs/conf.py
ext/libmemcached-*/example/memcached_light
ext/libmemcached-*/libhashkit/configure.h
ext/libmemcached-*/libmemcached/configure.h
ext/libmemcached-*/libmemcached/memcached_configure.h
ext/libmemcached-*/libtool
ext/libmemcached-*/stamp*
ext/libmemcached-*/support/libmemcached-fc.spec
ext/libmemcached-*/support/libmemcached.pc
ext/libmemcached-*/support/libmemcached.spec
ext/libmemcached-*/tests/atomsmasher
ext/libmemcached-*/tests/hash_plus
ext/libmemcached-*/tests/hashplus
ext/libmemcached-*/tests/memplus
ext/libmemcached-*/tests/startservers
ext/libmemcached-*/tests/testapp
ext/libmemcached-*/tests/testhashkit
ext/libmemcached-*/tests/testplus
ext/libmemcached-*/tests/testudp
ext/libmemcached-*/tests/udptest
ext/rlibmemcached_wrap.c.in
ext/share
pkg/*
